beautifulsoup4==4.9.3
certifi==2021.5.30
charset-normalizer==2.0.2
Click==7.0
Django==2.2.28
idna==3.2
jsonfield==2.0.2
lxml==4.6.5
pytz==2021.1
requests==2.26.0
soupsieve==2.2.1
sqlparse==0.4.2
urllib3==1.26.6
