beautifulsoup4==4.9.3
certifi==2023.7.22
charset-normalizer==2.0.2
Click==7.0
Django==3.2.25
idna==3.7
jsonfield==2.0.2
lxml==4.9.1
pytz==2021.1
requests==2.31.0
soupsieve==2.2.1
sqlparse==0.4.4
urllib3==1.26.18
